/* ----------------------
    basic / common CSS 
-------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: #fff;
    color: #000;
}

header,
main,
footer {
    display: flex;
    justify-content: center;
}

main,
footer {
    flex-direction: column;
    align-items: center;
}

section {
    /* padding-top: 80px; */
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 50px 2%;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

.section-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #e02c6d;
    padding: 10px 15px;
}

.button-2 {
    color: #e02c6d;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 106px;
    margin-left: calc(100% - 106px);
    margin-top: 50px;
}

.button .iconify {
    color: #fff;
    margin-left: 15px;
}

.button-2 .iconify {
    color: #e02c6d;
    margin-left: 15px;
}

.round {
    border-radius: 25px;
}



/*-------------------------- 
        header area 
--------------------------*/
header .container {
    display: flex;
    justify-content: space-between;
}

header h4 {
    font-weight: 700;
}

header h3,
header a {
    color: #3A3A3A;
}

nav ul {
    display: flex;
}

nav li {
    padding: 5px 10px;
}

.iconify {
    color: #000;
}


/*---------------------
     top area 
----------------------*/
.top-area-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.top-area-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-area-text p {
    margin: 25px 0;
}

.top-area-text .button {
    max-width: 196px;
}

.top-area-image {
    display: flex;
    justify-content: center;
    align-items: center;
}




/* --------------------------
    popular collection area
---------------------------*/
.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.collection {
    box-shadow: 5px 5px 30px #5E6366;
    padding: 15px;
    border-radius: 5px;
}

.collection-thumb img {
    width: 100%
}

.collection-info h3 {
    font-weight: 500;
    margin-bottom: 15px;
}

.collection-info h4 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.ratings {
    display: flex;
    align-items: center;
}

.ratings>span {
    margin-right: 10px;
}

.ratings .iconify {
    color: #fb8200;
}

/* .iconify[data-icon='bi:star-fill'],
.iconify[data-icon='bi:star-half'] {
    color: #fb8200;
} */

.ratings>span:last-child {
    color: #5E6366;
}

.collection-info p {
    color: #787885;
}


/* ------------------
    footer area 
--------------------*/
footer {
    background-color: #0a0826;
    color: #fff;
    padding: 50px 0;
}


footer p {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #D9DBE1;
}

footer .social-icons {
    margin-top: 15px;
    display: flex;
}

footer .social-icons a {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    background: #22213cdd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

footer .social-icons a:last-child {
    margin-right: 0;
}

footer .social-icons .iconify {
    color: #fff;
}



/*------------------
   media queries
------------------*/
/* mobile devices */
@media only screen and (max-width:988px) {

    .collections {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width:767px) {
    header .container {
        justify-content: center;
    }

    nav {
        display: none;
    }

    .top-area-container,
    .collections {
        grid-template-columns: repeat(1, 1fr);
    }

    .top-area-text {
        align-items: center;
        order: 2;

    }

    .top-area-text h1 {
        font-size: 28px;
    }

    .top-area-text h1,
    .top-area-text p {
        text-align: center;
    }

    .top-area-image {
        display: flex;
        justify-content: center;
        align-items: center;
        order: 1;
        margin-bottom: 30px;
    }

    .top-area-image img {
        width: 202px;
    }
}